{
  "domain": "{{BRAND_SLUG}}",
  "name": "{{BRAND_NAME}}",
  "codeowners": ["@{{GITHUB_ACCOUNT}}"],
  "config_flow": true,
  "documentation": "https://github.com/{{GITHUB_ACCOUNT}}/{{REPO_NAME}}",
  "issue_tracker": "https://github.com/{{GITHUB_ACCOUNT}}/{{REPO_NAME}}/issues",
  "integration_type": "device",
  "iot_class": "cloud_polling",
  "requirements": [],
  "version": "1.0.0"
}
