[Unit]
Description={{BRAND_NAME}} Data Collector
After=network.target postgresql.service

[Service]
EnvironmentFile={{ENV_FILE}}
Type=oneshot
User={{SERVICE_USER}}
WorkingDirectory={{APP_PATH}}
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart={{APP_PATH}}/scripts/run_collectors.sh
StandardOutput=journal
StandardError=journal
