[Unit]
Description={{BRAND_NAME}} Data Importer
After=synctacles-collector.service

[Service]
EnvironmentFile={{ENV_FILE}}
Type=oneshot
User={{SERVICE_USER}}
WorkingDirectory={{APP_PATH}}
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart={{APP_PATH}}/scripts/run_importers.sh
StandardOutput=journal
StandardError=journal
