[Unit]
Description={{BRAND_NAME}} Data Normalizer
After=synctacles-importer.service

[Service]
EnvironmentFile={{ENV_FILE}}
Type=oneshot
User={{SERVICE_USER}}
WorkingDirectory={{APP_PATH}}
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart={{APP_PATH}}/scripts/run_normalizers.sh
StandardOutput=journal
StandardError=journal
