[Unit]
Description={{BRAND_NAME}} Data Importer
After=synctacles-collector.service

[Service]
Type=oneshot
User={{SERVICE_USER}}
WorkingDirectory={{INSTALL_PATH}}/app
ExecStart={{INSTALL_PATH}}/app/scripts/run_importers.sh
StandardOutput=journal
StandardError=journal
