[Unit]
Description=SYNCTACLES Data Normalizer
After=synctacles-importer.service

[Service]
Type=oneshot
User=synctacles
WorkingDirectory=/opt/synctacles/app
ExecStart=/opt/synctacles/app/scripts/run_normalizers.sh
StandardOutput=journal
StandardError=journal
